@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&display=swap");

:root {
    --extra-light: #f3f4f6;
    --bg-color: #f9f9f9;
    --text-color: #333;
    /* --main-colour: #754ef9; */
    --main-colour: #050506;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
    --padding-inline-section: 20px;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #efe8e8;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    background-image: url("img2.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    position: relative;
    padding: 0 2rem;
}

nav {
    height: 80px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo img {
    width: 100px;
    padding-top: 7rem;

}

.nav__links {
    position: absolute;
    right: 0;
    top: 80px;
    width: 100%;
    list-style: none;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: rgba(60, 55, 55, 0.1);
}

.open {
    display: flex;
}

.nav__links .link {
    font-size: 1.25rem;
    color: var(--extra-light);
    text-align: center;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.nav__links .link:hover {
    background-color: rgba(210, 207, 207, 0.1);
}

.toggle__btn {
    display: block;
    color: var(--extra-light);
    font-size: 2rem;
}

.hero {
    max-width: 1200px;
    height: calc(100vh - 80px);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--extra-light);
}

.hero h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1rem;
}

.hero h1 {
    font-size: 6rem;
    font-weight: 700;
}

.hero button {
    width: 150px;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 1rem;
}

/* events section */

.services {
    min-height: auto;
    padding-bottom: 7rem;
    padding-top: 10rem;
    padding-left: 7rem;
    padding-right: 7rem;
}

.services h2 {
    margin-bottom: 5rem;
}

.services .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0.1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-colour);
    border-bottom: .6rem solid var(--main-colour);
    transition: .5s ease;
}

.services-container .services-box:hover {
    box-shadow: 0.1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-colour);
}

.services-box h3 {
    font-size: 2.6rem;
    transition: .5s ease;
}

.services-box:hover h3 {
    color: var(--main-colour);
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}


/* blog section */
#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    columns: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    background-color: #000;
    height: 1px;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: #088178;
}

#blog .blog-details a:hover::after {
    background-color: #088178;
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}


/* contact details */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'outfit';
    /* background: linear-gradient(#ffdad5 , #fff7f9); */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    color: #a363aa;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid #ff994f;
}
.contact-inputs::placeholder{
    color: #a9a9a9;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;

}

/* footer */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}


















@media screen and (min-width: 640px) {
    .nav__links {
        width: 250px;
    }

    .hero {
        align-items: flex-start;
    }
}

@media screen and (min-width: 1024px) {
    .nav__links {
        position: unset;
        width: unset;
        flex-direction: row;
        gap: 0.5rem;
        display: flex !important;
        background: transparent;
    }

    .toggle__btn {
        display: none;
    }

    .hero h2 {
        font-size: 4rem;
    }

    .hero h1 {
        font-size: 8rem;
    }

    .hero button {
        width: 200px;
        padding: 1rem;
    }
}
@media (max-width:800px){
    .contact-inputs{
        width: 80vw;
    }
    
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}